*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: #2F303A;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}   
#logo {
    padding-left: 10px;
    margin-top: 20px;
    height: 50px;
    width: 50px;
    display: flex;
}
h3{
    padding-top: 15px;
    color: white;
    padding-left: 3px;
}
.horizonbar{
    float: right;
    padding-left: 355px;
    padding-right: 40px;
    list-style-type: none;
    margin-top: 30px;
    padding-bottom: 100px;
    margin-left: 575px;
    font-weight: 900;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    margin-left: 40px;
    margin-right: 30px;
    display: flex;
}
ul li{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}
ul li a{
    text-decoration: none;
    color: white;
    transition: 0.6s ease;
}
li a:hover:not(.active){
    border-bottom: solid 5px #1762A7;
}
h1{
    text-align: right;
    margin-top: px;
    margin-right: 327px;
    margin-left: 0px;
    color: white;
    font-weight: 525;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 72px;
    size: 100px;
}
.bgpics{
    height: 537px;
    width: 300px;
    margin-left: 150px;
    margin-right: 20px;
}
.content{
    float: right;
    margin-top: 100px;
}
p{
    margin-right: 129px;
    color: white;
    margin-left: 30px;
    padding-top: 2px;
    font-size: 20px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.btn{
    height: 35px;
    width: 130px;
    background-color: #1762A7;
    border-radius: 5px;
    border: 2px solid #1762A7;
    margin-top: 60px;
    margin-left: 62px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}