*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.container{
    background-color: #2F303A;
    height: 70vh;
    width:105vh;
}   
#logo{
    padding-left: 20px;
    padding-top: 0px;
}
.horizonbar{
    float: right;
    padding-left: 180px;
    padding-right: 40px;
    list-style-type: none;
    padding-bottom: 100px;
}
.navbar{
    display: flex;
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 40px;
    padding-top: 20px;
    
}
ul li{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}
ul li a{
    text-decoration: none;
    color: white;
    transition: 0.6s ease;
}
li a:hover:not(.active){
    border-bottom: solid 3px royalblue;
}   
footer{
    background-color: slategray;
    height: 5vh;
    width: 95vh;
    display: flex;
}   